/* Add your styles here. */

/**
 * General
 */

:root {
    font-size: 16px;
    --desktop-width: 1000px;
    --mobile-break: 550px;
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #eee;
}

header, .yield, footer {
    max-width: var(--desktop-width);
    margin: 0 auto;
    padding: 0 1em;
    color: #333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: #111;
}

h1 {
    font-size: 4rem;
    margin: 0 0 2rem;
    color: #555;
    font-weight: 300;
}

.button, input[type="submit"], .more-info-button {
    display: inline-block !important;
    margin: 1rem 0;
    padding: 1rem;
    background: #ddd;
    border: 0.2rem solid #333;
    color: #333;
    font-weight: 600;
    transition: 0.5s all;
    width: auto;
}

.button:hover, .button:active, input[type="submit"]:hover, input[type="submit"]:active, .more-info-button:hover, .more-info-button:active {
    background: #333;
    color: #ddd;
}



/**
 * Forms
 */

fieldset {
    border: none;
    margin: 1rem 0.5rem;
    padding: 0;
}

fieldset label, fieldset input {
    display: block;
}

label + input, label + textarea {
    margin-top: 0.25rem;
}

input, textarea {
    display: block;
    width: 100%;
    border: none;
    padding: 0.5rem 0.25rem;
    border-bottom: 0.1rem solid #333;
}

textarea {
    resize: vertical;
    min-height: 8rem;
}



/**
 * Header
 */

header {
    height: 8em;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    background: #ddd;
}

header .logo {
    margin: 0;
}

header .logo, header .logo a, header .logo img {
    display: block;
}

header .logo img {
    height: 5rem;
    margin: 0 auto;
}

header .main-nav {
    flex: 1 1 auto;
}

header ul {
    display: flex;
}

header li {
    display: block;
}

header li:first-child {
    margin-left: auto;
}

header li:last-child {
    margin-right: auto;
}

header li a {
    display: flex;
    height: 2rem;
    padding: 0.5rem 0.5rem;
    align-items: center;
    text-align: center;
    background: transparent;
    transition: 0.3s all;
}

header li a:hover, header li a:active {
    background: #ccc;
}



/**
 * Main content
 */

.yield {
    max-width: var(--desktop-width);
    margin: 0 auto;
}



/**
 * Featured movie
 */

.movie-info- img {
    width: 100%;
}



/**
 * Other movie stuff
 */

.photos-list {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0.5rem;
}

.photos-list img {
    width: 100%;
}

.related-movies ul, ul.movies-list {
    display: flex;
    overflow-x: auto;
}

.movie-cover {
    position: relative;
    margin: 0.5rem;
    box-shadow: #0003 0 0.25rem 0.5rem;
}

.movie-cover img {
    width: 100%;
}

.movie-cover figcaption {
    position: absolute;
    text-align: center;
    bottom: 1rem;
    left: 50%;
    margin: 0 auto;
    background: white;
    display: inline-block;
    width: auto;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    box-shadow: #0003 0 0.2rem 0.5rem;
    border-radius: 2rem;
}

/*
.movies-list li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
}
*/

.movies-list article {
    margin-bottom: 3rem;
}



/**
 * Rental dialog
 */

#rental-dialog {
    text-align: left;
    display: none;
    position: fixed;
    top: 5rem;
    left: 0.5rem;
    right: 0.5rem;
    padding: 1rem 1.5rem;
    background: white;
    box-shadow: #0004 0 0.5rem 1rem;
    max-width: var(--mobile-break);
    margin: auto;
}

#rental-dialog.show {
    display: block;
}

#rental-dialog .ui a {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid #333;
    text-align: center;
    line-height: 2rem;
    background: #ddd;
    color: #333;
    transition: 0.5s all;
}

#rental-dialog .ui a:hover, #rental-dialog .ui a:active {
    background: #333;
    color: #ddd;
}

.locations ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.locations li {
    background: white;
    box-shadow: #0003 0 0.1rem 0.25rem;
    transition: 0.25s all;
}

.locations li:hover {
    box-shadow: #0003 0 0.5rem 1rem;
}

.store-location .map {
    margin: 0;
    line-height: 1;
    display: block;
}

.store-location img {
    width: 100%;
}

.store-location .tel {
    margin-bottom: 1rem;
}

.store-location .address, .store-location .tel {
    padding: 0 1rem;
}



/**
 * Contact
 */

.tabs {
    display: flex;
    margin: 1rem 0;
}

.tabs a {
    display: flex;
    height: 2rem;
    padding: 0.5rem 0.5rem;
    align-items: center;
    text-align: center;
    transition: 0.3s all;
    background: transparent;
}

.tabs a.active {
    background: #d8d8d8;
}

.tabs a:hover, .tabs a:active {
    background: #ddd;
}

.tab-content {
    opacity: 0;
    z-index: -1;
    transition: 1s all;
    height: 0;
}

.tab-content h2 {
    margin-top: 0;
}

.tab-content.active {
    opacity: 1;
    z-index: 1;
    height: auto;
}

.contact main > section {
    position: relative;
}

.label {
    display: block;
    margin: 1rem 0;
    padding: 1rem;
    background: #ddd;
    border: 0.2rem solid #333;
    color: #333;
    width: auto;
    text-align: center;
    transition: 1s all;
    height: auto;
}

.label.hidden {
    height: 0;
    padding: 0;
    margin: 0;
    border-width: 0;
    font-size: 0;
}

.label.success {
    border-color: forestgreen;
    background: lightgreen;
    color: forestgreen;
}

.label.alert {
    border-color: brown;
    background: lightcoral;
    color: brown;
}




/**
 * Footer
 */

footer {
    margin-top: 4rem;
    background: #ddd
}

footer form {
    display: flex;
    max-width: 100%;
}

footer form input[type="submit"] {
    margin: 0 !important;
    border-width: 0.05rem;
    flex: 0 1 auto;
}

footer form input[type="text"], footer form input[type="email"] {
    border: none;
    flex: 1 0 0;
}

.footer-help {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem;
}

footer .back-to-top {
    margin-top: 3rem;
}

footer nav ul, footer .copyright, footer .back-to-top {
    min-height: 2rem;
    padding: 0.5rem;
    text-align: center;
}

footer nav li {
    display: inline-block;
    padding: 0.5rem;
}



/**
 * Desktop media queries
 */

@media (min-width: 550px) {
    .footer-help {
        grid-template-columns: auto auto;
    }

    .movie-info- {
        display: flex;
    }

    .movie-info- a {
        display: block;
        flex: 0 0 30%;
        margin-right: 2rem;
    }

    .rental {
        text-align: center;
    }
}