*{
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: "Arial",sans-serif;
	color: #282828;
	text-decoration: none;
	list-style-type: none;
}
body{
	background: #009BBC;
	width: 100%;
	height: 100%;
}
.group{
	margin-bottom: 10px;
}
.group input,
.group select{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.group label{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
.group *{
	display: block;
}
.box,
.container{
	width: 1140px;
	margin: auto;
}

.box{
	margin-top: 100px;
	background: white;
	border-radius: 4px;
	padding: 30px
}
button{
	width: 100%;
	height: 60px;
}
#start,
#end{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.9);
	z-index: 999999;
}
#end .box {
	position: relative;
	animation: fadeIn 1s ease-out running;
}
#end.hide .box {
	animation-play-state: paused;
}

.hide{
	display: none !important;
}

@keyframes fadeIn {
	from { opacity: 0; transform: translateY(-3em); }
	to { opacity: 1; transform: translateY(0); }
}



#gameContainer .container{
	padding-top: 70px;
	display: block;
	position: relative;
}
#preview{
	position: absolute;
	display: block;
	width: 165px;
	height: 165px;
	bottom: 394px;
  	right: -190px;
	background: white;
}
#drop .preview{
	float: left;
	margin-right: 10px;
	height: 100px;
  	width: 100px;
	background: rgba(0,0,0,0.2);
}
#drop{
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: dotted 1px rgba(0,0,0,0.2);
}
p{
	text-align: center;
}
h3{
	text-align: center;
}
table th,
table td{
	padding: 10px;
	border: solid 1px rgba(0,0,0,0.2);
}
table{
	width: 100%;
	border-collapse: collapse;
}
#playername,
#timer{
	display: block;
	text-align: center;
}

#playername{
	background: white;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	font-weight: bold;
}
#timer span{
	color: white;
}
#timer{
	background: rgba(0,0,0,0.5);
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	color: white;
}
h2{
	text-align: center;
}
#preview,
#drop .preview{
	background-size: 100%;
}

#puzzleContainer {
	position: relative;
}

#puzzleContainer .piece-container:last-child{
	margin-right: 0px;
	background-repeat: no-repeat;
}
#puzzleContainer .piece-container{
	float: left;
	width: 500px;
	height: 500px;
	margin-right: 139px;
	z-index: 1;
}
#pauseRibbon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 500px;
	z-index: 10;
	background: #888;
	overflow: hidden;
}
#pauseRibbon h1 {
	color: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-15deg);
	font-size: 340px;
}

#puzzle{
	background-repeat: no-repeat;
}

#drop input {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	height: 100%;
}
#work {
	position: absolute;
	top: -500px;
}
.piece {
	position: relative;
	display: block;
	float: left;
	transition: all 0.5s;
}

.piece-inner {
	width: 100%;
	height: 100%;
	transition: all 0.2s;
	box-shadow: none;
}

#puzzle .emphasis .piece-inner {
	box-shadow: #0004 0 0 8px;
}

#puzzle .piece {
	z-index: 2;
}

#puzzle .piece.emphasis {
	transform: scale(1.2);
	z-index: 3;
}

#puzzleDestination .piece {
	opacity: 0.2;
	filter: grayscale(100%);
}

#puzzleDestination .piece.emphasis {
	opacity: 1;
	filter: none;
}